header {
  padding: 1rem 5%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--dark-blue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 5%;
}

.attribution-title {
  color: var(--dark-blue);
  text-align: center;
  margin: 1rem auto 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;

  border-bottom: 3px solid var(--red);
  display: table;
  padding-bottom: 0.5rem;
}

h2 {
  color: var(--dark-blue);
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  /* Separador sutil */
  border-bottom: 1px solid var(--light-gray);
}

ul {
  list-style-position: outside;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li {
  margin: 0.75rem 0;
}

.back-to-home {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 2px solid var(--light-gray);
  text-align: center;
}

.back-to-home a {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--red);
  transition: color 0.3s;
}

.back-to-home a:hover {
  color: var(--dark-blue);
}

@media (max-width: 600px) {
  main {
    padding: 1.5rem 5%;
  }
  .attribution-title {
    font-size: 2rem;
  }
}
